.nav-bar{
    display: flex;
    justify-content:space-evenly;
    padding: 20px;
    background-color: #415A77;

    &>*{
        color: white;
    }

    & >a {
        text-decoration: none;

        &:hover{
            color: #778DA9;
        }
    }

}