@import '../utils/mixins.scss';

.weather-section{
    @include column-centered-content;

    &>form{
        @include column-centered-content;
        &>label{
            margin:7px;
        }
        &>input{
            border-radius:20% 25%;
        }
    }

}


.btn-search{
    margin: 10px;
    background-color: #415A77;
    color: white;
    font-size:medium;
    padding: 12px;
    border-radius: 40%;
}